<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form method="post" th:action="@{/register}">
  <label>Name: <input type="text" name="name" required /></label><br/>
  <label>Email: <input type="email" name="email" required /></label><br/>
  <label>Password: <input type="password" name="password" required /></label><br/>
  <label>Open Information: <input type="text" name="openInfo" required /></label><br/>
  <label>Closed Information: <input type="text" name="closedInfo" required /></label><br/>
  <button type="submit">Register</button>
</form>
<p>Already have an account? <a th:href="@{/}">Login</a></p>
</body>
</html>